// plate colors:
$clr1: #e2be3d;
$clr2:#f4f4f4;
$clr3: #faec71;
$clr14: #999; //grey


// Fonts
$titleFont: 'Josefin Sans', sans-serif !important;
$bodyFont: 'Noto Sans JP', sans-serif !important;
$clr17: #0000001f;


// Breakpoints:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;